[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/RegistrationPayments"]
	path = plugins/RegistrationPayments
	url = https://github.com/mapasculturais/plugin-RegistrationPayments
[submodule "plugins/MapasBlame"]
	path = plugins/MapasBlame
	url = https://github.com/mapasculturais/plugin-MapasBlame.git