[submodule "plugins/MultipleLocalAuth"]
	path = plugins/MultipleLocalAuth
	url = https://github.com/mapasculturais/plugin-MultipleLocalAuth
[submodule "plugins/RegistrationPayments"]
	path = plugins/RegistrationPayments
	url = https://github.com/mapasculturais/plugin-RegistrationPayments
[submodule "plugins/MapasBlame"]
	path = plugins/MapasBlame
	url = https://github.com/mapasculturais/plugin-MapasBlame.git
[submodule "plugins/Zammad"]
	path = plugins/Zammad
	url = https://github.com/mapasculturais/plugin-Zammad.git
[submodule "plugins/AdminLoginAsUser"]
	path = plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser
[submodule "plugins/Analytics"]
	path = plugins/Analytics
	url = https://github.com/mapasculturais/plugin-Analytics.git
[submodule "plugins/Accessibility"]
	path = plugins/Accessibility
	url = https://github.com/mapasculturais/plugin-Accessibility.git
