version: '2'
services:
  mapas:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    command: /var/www/dev/start.sh
    ports:
      - "80:80"
    volumes:
      - ./docker/php.ini:/usr/local/etc/php/php.ini
      - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini

      - ../docker-data/assets:/var/www/html/assets
      - ../docker-data/public-files:/var/www/html/files
      - ../docker-data/private-files:/var/www/private-files
      - ../docker-data/logs:/var/www/var/logs
      
      - ../docker/common/config.d:/var/www/config/common.d
      - ../docker/local/config.d:/var/www/config/config.d

      # themes and plugins
      - ../themes/MapaCulturalES:/var/www/src/themes/MapaCulturalES
      - ../plugins/MultipleLocalAuth:/var/www/src/plugins/MultipleLocalAuth
      

    environment:
      - PENDING_PCACHE_RECREATION_INTERVAL=5
      - JOBS_INTERVAL=5
      - APP_MODE=development
      - CACHE_ASSETS_URL=false
      - REDIS_CACHE=redis
      - MAILER_TRANSPORT=smtp://mailhog:1025
      - MAILER_FROM=sysadmin@localhost
      
      # chaves de teste do google recaptcha
      - GOOGLE_RECAPTCHA_SITEKEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
      - GOOGLE_RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
    depends_on:
      - mailhog
      - db
      - redis
  
    stdin_open: true
    tty: true

  mailhog: 
    image: mailhog/mailhog
    ports:
      - "8025:8025"

  redis:
    image: redis:6
    command: --maxmemory 256Mb --maxmemory-policy allkeys-lru  

  db:
    image: postgis/postgis:14-master
    environment:
      - POSTGRES_PASSWORD=mapas
      - POSTGRES_USER=mapas
      - POSTGRES_DB=mapas
    ports:
      - "5432:5432"
    volumes:
      - ../db:/docker-entrypoint-initdb.d
      - ../docker-data/db-data:/var/lib/postgresql/data
